body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.header{
    font-size: 30px;
    font-weight: bold;
    margin: 0rem;
    font-variant-caps:all-small-caps;
}

.container {
    display: flex;
    width: 100%;
    margin: 20px;
}
p{
    margin-left: 20px;
    margin-bottom: -15px;
}

b{
    margin-left: 10px;
    font-size: 24px;
    font-weight: bold;
    margin-top: -10px;
}
.text_area {
    flex: 1; 
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
}



.btn {
    margin-top: 1rem; 
    align-self: flex-end; 
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: large;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    
}

.h2 {
    margin-top: 0;
}

.resultado_content {
    display: flex;
}

.result_share{
    display: inline-block;
    border: 1px solid black;
    padding: 0 10px;
    justify-content: center;
    overflow: auto;
    overflow-y: auto;
    height: 325px;
    border-radius: 20px;
    
}
.result_lex{
    background-color:rgba(2, 37, 238, 0.326);
}
.result_sintax{
    background-color:rgba(255, 225, 0, 0.327);
}
.result_cSharp{
    background-color:rgb(221, 221, 221);
}
.table{
    background-color:rgba(16, 172, 5, 0.328);
}
.result_generate{
    background-color:rgb(238, 158, 100);
    font-weight: bold;
    font-style: italic;
    width: 30%;
}
#result_generate{
    width: 25%;
}